.main-nav {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: $special-grey;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $dark;
  }

  &--open {
    @media (max-width: 1023px) {
      position: relative;
    }
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 2.6%;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 0;
  }

  .main-nav--nojs & {
    @media (max-width: 1023px) {
      min-height: 50px;
    }
  }
}

.main-nav__button {
  @include reset-button;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  background-color: $basic-accent;
  border: none;

  @media (min-width: $tablet-width) {
    width: 72px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  .main-nav--nojs & {
    display: none;
  }

  .main-nav--open & {
    position: relative;
    z-index: 1;

    background-color: $basic-white;
  }

  &::before,
  &::after {
    width: 22px;
    height: 1px;
    content: "";

    background-color: $basic-white;

    //transition: transform 2s; //TODO

    .main-nav--open & {
      position: absolute;
      top: 50%;
      left: calc(50% - 15px);

      width: 31px;
      height: 1px;

      background-color: $dark;
      opacity: 0.2;
    }
  }

  &::before {
    margin-bottom: 11px;

    box-shadow: 0 6px 0 $basic-white;

    .main-nav--open & {
      transform: rotate(225deg);//TODO
    }
  }

  &::after {
    .main-nav--open & {
      transform: rotate(-225deg);//TODO
    }
  }
}

.main-nav__site-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1023px) {
    display: none;
  }

  .main-nav--nojs & {
    display: block;
    padding-bottom: 10px;
  }

  .main-nav--open & {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    display: block;
    width: 100%;
    padding-top: 135px;
    padding-bottom: 285px;

    background-color: $basic-white;
  }
}

.main-nav__site-item {
  @media (max-width: 1023px) {
    padding: 17px 15px;

    background-color: $basic-light;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      min-width: fit-content;
      margin-right: 2%;
    }
  }
}

.main-nav__site-link {
  @include reset-link;
}

.main-nav__contact-list {
  @include reset-list;

  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 2.86%;

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
}

.main-nav__contact-link {
  @include reset-link;
}

.main-nav__contact-number {
  margin-left: 5px;

  text-decoration: underline;
}

.main-nav__site-link:hover,
.main-nav__contact-link:hover {
  color: $basic-accent;
}

.main-nav__site-link:focus,
.main-nav__contact-link:focus {
  color: $basic-accent;
  opacity: 0.5;
}

.main-nav__contact-icon {
  margin-bottom: 5px;

  vertical-align: middle;
}
