.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $dark;

  @media (max-width: $tablet-width-only) {
    display: block;

    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $special-grey;
  }

  &--open {
    @media (max-width: $tablet-width-only) {
      position: relative;
    }
  }
}

.main-nav__wrapper {
  margin-right: auto;

  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    padding-left: 15px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    padding-left: 2.6%;
  }

  .main-nav--nojs & {
    @media (max-width: $tablet-width-only) {
      min-height: 50px;
    }
  }
}

.main-nav__logo-image {
  width: 58px;

  @media (max-width: $tablet-width-only) {
    width: 44px;
  }
}

.main-nav__button {
  @include reset-button;

  @media (max-width: $mobile-width-only) {
    width: 50px;
  }

  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: $basic-accent;
    border: none;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 72px;
  }

  .main-nav--nojs & {
    display: none;
  }

  .main-nav--open & {
    @media (max-width: $tablet-width-only) {
      position: relative;
      z-index: 3;

      background-color: $basic-white;
    }
  }

  &::before,
  &::after {
    width: 22px;
    height: 1px;
    content: "";

    background-color: $basic-white;

    .main-nav--open & {
      position: absolute;
      top: 50%;
      left: calc(50% - 15px);

      width: 31px;
      height: 1px;

      background-color: $dark;
      opacity: 0.2;
    }
  }

  &::before {
    margin-bottom: 11px;

    box-shadow: 0 6px 0 $basic-white;

    .main-nav--open & {
      transform: rotate(45deg);
    }
  }

  &::after {
    .main-nav--open & {
      transform: rotate(-45deg);
    }
  }

  &:focus,
  &:active {
    background-color: $hover-accent;

    .main-nav--open & {
      background-color: $basic-white;
    }
  }
}

.main-nav__site-list {
  @include reset-list;

  display: flex;
  align-items: center;
  min-width: 200px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }

  .main-nav--nojs & {
    @media (max-width: $tablet-width-only) {
      display: block;
      padding-bottom: 10px;
      min-width: auto;
    }
  }

  .main-nav--open & {
    @media (max-width: $tablet-width-only) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      display: block;
      min-width: auto;
      width: 100%;
      padding-top: 135px;
      padding-bottom: 285px;

      background-color: $basic-white;
    }
  }
}

.main-nav__site-item {
  @media (max-width: $tablet-width-only) {
    padding: 17px 4.68%;

    background-color: $basic-light;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  &:first-child {
    min-width: fit-content;
    margin-right: 20.4%;

    @media (max-width: $tablet-width-only) {
      margin-right: 0;
    }
  }
}

.main-nav__site-link {
  @include reset-link;

  @media (max-width: $tablet-width-only) {
    display: inline-block;
    width: 100%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.4L4.6 6L0 10.6L1.4 12L7.4 6L1.4 0L0 1.4Z' fill='%232C2E3F' fill-opacity='0.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 8px 12px;
    background-position: calc(100% - 4.68%) center;
  }
}

.main-nav__contact-list {
  @include reset-list;

  display: block;
  margin-left: 4.6%;
  margin-right: 2%;

  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav__contact-link {
  @include reset-link;
}

.main-nav__contact-number {
  margin-left: 5px;

  text-decoration: underline;
}

.main-nav__site-link:hover,
.main-nav__contact-link:hover {
  color: $basic-accent;
}

.main-nav__site-link:focus,
.main-nav__contact-link:focus {
  color: $basic-accent;
  opacity: 0.5;
}

.main-nav__contact-icon {
  margin-bottom: 5px;

  vertical-align: middle;
}
