.page-body {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  color: $basic-dark;

  background-color: $basic-white;

  &--modal-open {
    overflow: hidden;
  }
}
