.page-main__places {
  padding-top: 10.4%;
  padding-bottom: 5%;

  @media (max-width: $mobile-width-only) {
    padding-top: 105px;
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-top: 80px;
    padding-bottom: 95px;
  }
}

.page-main__price {
  @media (max-width: $mobile-width-only) {
    padding-top: 110px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-top: 105px;
  }
}
