.text {
  line-height: 175%;
  letter-spacing: -0.47px;
  color: rgba(44, 46, 63, 0.7);
  text-align: left;

  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    text-align: center;
  }
}
